@use "base";
@use "colors";

.App {
  height: auto;
  width: 100vw;
  background-color: colors.$neutral1;

  .hero {
    height: 75%;
    width: 100%;

    .hero-img {
      height: fit-content;
      img {
        width: 100%;
      }
    }

    .hero-text {
      padding: 2rem 1rem;
      text-align: center;

      h1 {
        font-size: 2.2rem;
      }

      p {
        color: colors.$neutral2;
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1rem 0;
      }
    }

    button {
      color: colors.$neutral1;
      background-color: colors.$neutral3;
      border: none;
      font-family: "Epilogue", sans-serif;
      font-size: 1rem;
      padding: 0.8rem;
      border-radius: 10px;
    }
  }

  footer {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 15%;
    }
  }
}

@media (min-width: 1000px) {
  .App {
    height: 100vh;

    .hero {
      height: auto;
      width: 80%;
      margin: 2rem auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      .hero-img {
        width: 50%;
        text-align: right;

        img {
          width: 70%;
        }
      }

      .hero-text {
        height: 50%;
        width: 50%;
        padding: 2rem 10rem 2rem 2rem;
        text-align: left;

        h1 {
          font-size: 4rem;
        }

        p {
          color: colors.$neutral2;
          font-size: 1em;
          text-align: justify;
          line-height: 1.5rem;
          margin: 3rem 0;
        }
      }

      button {
        border: 2px solid colors.$neutral3;

        &:hover {
          cursor: pointer;
          color: colors.$neutral3;
          background-color: colors.$neutral1;

        }
      }
    }

    footer {
      width: 35%;

      position: absolute;
      bottom: 0.5rem;
      left: 9rem;
    }
  }
}
